.list-container{
    /* margin-top: 32px !important; */
    border: 1px solid;
    padding: 24px !important;
}

.app-list-item{
    display: flex !important;
    flex-direction: row !important;
    padding: 24px !important;
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid #e8e8e8 !important;
}
